/* PALETA DE COLORES */

:root {
  --color11: #2D2D2B;
  --color22: #9F9385;
  --color33: #EAE3D9;
  --color44:#F8F7F3;

}

/* FUENTE */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');


/* BASE */

* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color44);
  font-size: 15px;
}

/* WHATSAPP */

a:hover {
  text-decoration: none;
}

.whatsapp {
  background-color:#25d366;
  border-radius:50px;
  bottom:30px;
  color:#FFF;
  font-size:30px;
  height:50px;
  position:fixed;
  right:40px;
  text-align:center;
  width:50px;
  z-index:100;
}

.whatsapp:hover {
  color: white;
  transform: scale(1.1);
}

.whatsapp-icon {
  font-size: 1.115em;
  margin-top:8px;
}

@media (max-width: 576px) {
  .whatsapp {
    bottom: 20px;
    right: 20px;
  }
}

/* HEADER */

#header  {
  background: var(--color11);
  opacity: 90%;
  padding: .375em;
}

#header .logo {
  padding: 0 2em;
}

#header .logo img {
  width: 7.5em;
}

@media (max-width: 992px) {
  #header .logo img{
    width: 7em;
  }
}

@media (max-width: 768px) {
  #header .logo img{
    width: 6.75em;
  }
}

@media (max-width: 576px) {
  #header .logo img{
    width: 5.75em;
  }
}

@media (max-width: 576px) {
  #header .logo {
    padding: 0 .5em;
  }
}

/* NAV */

.navbar ul {
  margin: 0;
  width: 65%;
}

@media (max-width: 1200px) {
  .navbar ul {
    width: 77%;
  }
}

@media (max-width: 992px) {
  .navbar ul {
    display: none;
  }
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: var(--color22);
  transition: 0.3s;
}

#icon-nav{
  display: none;
}

@media (max-width: 992px) {
  #icon-nav {
    display: block;
    font-size: 2em;
  }
}

@media (max-width: 768px) {
  #icon-nav {
    font-size: 1.75em;
  }
}

@media (max-width: 576px) {
  #icon-nav {
    font-size: 1.5em;
  }
}

.navbar-mobile .mobile-nav-toggle {
  margin-left: 0;
  position: absolute;
  top: 30px;
}

.mobile-nav-toggle {
  color: var(--color33);
  cursor: pointer;
  font-size: 1.75em;
  line-height: 0;
  transition: 0.5s;
}

.navbar-mobile {
  background: var(--color11);
  opacity: 90%;
  bottom: 0;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile ul {
  background-color: var(--color44);
  border-radius: 10px;
  display: block;
  overflow-y: auto;
  padding: 10px 0;
  position: absolute;
  transition: 0.3s;
  width: 90%;
}

.navbar-mobile a {
  color: var(--color11);
  font-size: 1.25em;
  font-weight: 600;
  padding: 20px 0;
  text-align: center;
}

@media (max-width: 768px) {
  .navbar-mobile a {
    font-size: 1.125em;
    padding: 18px 0;
  }
}

@media (max-width: 576px) {
  .navbar-mobile a {
    font-size: 1em;
    padding: 14px 0;
  }
}

/* BOTONES */

button:focus {
  outline: none;
}

#languages {
  padding-right: 2em;
  text-align: end;
}

@media (max-width: 992px) {
  #languages {
    padding-right: 0;
  }
}

@media (max-width: 576px) {
  #languages {
    padding-left: 0;
  }
}

.button-language {
  border: none;
  border-radius: 100%;
  margin: 0 .5em;
}

.button-language.button-active {
  cursor: default;
}

.button-language.button-active img {
  opacity: 50%;
}

.language-icon {
  width: 1.75em;
}

/* ABOUT US */

#aboutUs {
  background-image: url('../assets/img/fondoFinal.jpg');
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
  display: grid;
  height: 100vh;
}

#aboutUs .box-intro {
  background-color: rgba(43, 47, 46, .5);
  border-radius: 2em;
  height: 35%;
  position: relative;
  top: 75%; 
  width: 45%;
  justify-self: center;
}

#aboutUs .intro {
  align-self: center;
  color: var(--color44);
  font-weight: 500;
  margin: 0 1em;
  text-align: center;
}

#aboutUs .contact{
  background-color: var(--color11);
  border: 2px solid var(--color22);
  border-radius: 15px;
  color: var(--color44);
  height: 3em;
  justify-self: center;
  overflow: hidden;
  padding: .75em;
  position: relative;
  text-align: center;
  top: 20%;
  width: 10%;
}

#aboutUs .contact:hover {
  box-shadow: 1px 1px 25px 10px rgba(248, 247, 243, 0.4);
}

#aboutUs .contact:before {
  background: linear-gradient(120deg, transparent,rgba(248, 247, 243, 0.4),transparent);
  content: "";
  height: 100%;
  left: -100%;
  position: absolute;
  top: 0;
  transition: all 650ms;
  width: 100%;
}

#aboutUs .contact:hover:before {
  left: 100%;
}

@media (max-width: 1200px) {
  #aboutUs .box-intro {
    width: 50%;
  }

  #aboutUs .contact{
    width: 13%;
  }
}

@media (max-width: 992px) {
  #aboutUs .box-intro {
    height: 35%;
    top: 70%;
    width: 60%;
  }

  #aboutUs .contact{
    width: 15%;
  }
}

@media (max-width: 768px) {
  #aboutUs {
    background-image: url('../assets/img/fondo5.jpg');
    background-repeat: no-repeat;
    background-size: auto;
  }

  @media (max-width: 576px) {
    #aboutUs {
      background-image: url('../assets/img/fondo6.jpg');
    }

  #aboutUs .box-intro {
    height: 40%;
    width: 75%;
  }

  #aboutUs .contact{
    width: 20%;
  }
}

@media (max-width: 576px) {
  #aboutUs .box-intro {
    height: 50%;
    top: 55%;
    width: 85%;
  }

  #aboutUs .contact{
    width: 35%;
  }
}


/* WHAT WE DO */

#whatWeDo .intro-whatWeDo {
  color: var(--color11);
  font-size: 1.25em;
  margin: 3em 6em 1em 6em;
  padding-top: 1em;
  text-align: center;
}

#accordion {
  flex-wrap: wrap;
}

.services {
  display: grid;
  margin: 1.5em 0;
}

.services .card-service {
  background-color: var(--color22);
  border: none;
  border-radius: 100%;
  color: var(--color11);
  display: grid;
  height: 11.5em;
  justify-self: center;
  text-transform: uppercase;
  width: 11.5em;
}

.services .card-service:hover {
  background-color: var(--color11);
  color: var(--color22);
  cursor: pointer;
}

.services .material-symbols-outlined {
  font-size: 4em;
  font-weight: 500;
  margin-bottom: -0.5em;
  margin-top: 0.5em;
  text-align: center;
}

.services h6 {
  text-align: center;
}

.services button {
  background-color: var(--color1);
  border: none;
  border-radius: 10px;
  color: var(--color3);
  justify-self: center;
  height: 1.5em;
  margin-top: -1.5em;
  width: 30%;
}

#travel, #refactoring, #building, #investment, #consultancy, #opportunities {
  justify-self: center;
  width: 60%;
}

.services p {
  border: 1px var(--color22) solid;
  border-radius: 10px;
  color: var(--color11);
  margin-top: 1em;
  padding: .15em;
}

@media (max-width: 992px) {
  #accordion {
    justify-content: center;
  }

  #whatWeDo .intro-whatWeDo {
    margin: 3em 5em 1em 5em;
  }

  .services .card-service {
    height: 15em;
    width: 15em;
  }

  .services .material-symbols-outlined {
    font-size: 6em;
  }

  .services p {
    font-size: 1.25em;
  }

  #travel, #refactoring, #building, #investment, #consultancy, #opportunities {
    width: 70%;
  }
}

@media (max-width: 768px) {
  
  #whatWeDo .intro-whatWeDo {
    margin: 3em 3em 1em 3em;
  }

  .services .card-service {
    height: 16em;
    text-align: center;
    width: 16em;
  }

  .services p {
    font-size: 1.5em;
  }

  #travel, #refactoring, #building, #investment, #consultancy, #opportunities {
  width: 50%;
}
}

@media (max-width: 576px) {
  #whatWeDo .intro-whatWeDo {
    margin: 3em 1.25em 1em 1.25em;
  }

  #travel, #refactoring, #building, #investment, #consultancy, #opportunities {
    justify-self: center;
    width: 70%;
  }
}


/* PROPERTIES */

#properties {
  background-image: url('../assets/img/properties.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  margin-top: 5em;
  padding-top: 3em;
  width: 100%;
}

#properties h2 {
  color: var(--color11);
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
}

#properties .flags-container {
  display: flex;
  justify-content: space-around;
  padding: 3.5em 2em;
}

#properties .flags-container .flag {
  list-style: none;
  position: relative;
}

.flag-style{
  background-size: cover;
  background-position: center;
  border-radius: 1.5em;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  height: 20em;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
  width: 25em;
}

.flag:hover .flag-style{
  cursor: pointer;
  transform: scale(1.05) translateZ(0);
}

.flagNotSelected {
  filter: brightness(0.5) saturate(1) contrast(1.2) blur(5px);
}

.flags-container:hover > .flag:not(:hover) .flag-style{
  filter: brightness(0.5) saturate(1) contrast(1.2) blur(5px);
}

.filter {
  display: none;
  text-align: center;
}

.filter img {
  margin: 1.5em;
  text-align: center;
  width: 20%;
}

#properties .zonaProps {
  background-color: var(--color11);
  border: 2px solid var(--color22);
  border-radius: 15px;
  color: var(--color44);
  font-size: 1.5em;
  justify-self: center;
  margin: 1em 0;
  overflow: hidden;
  padding: .5em 1.5em;
  position: relative;
  text-align: center;
}

#properties .zonaProps:hover {
  box-shadow: 1px 1px 25px 10px rgba(248, 247, 243, 0.4);
}

#properties .zonaProps:before {
  background: linear-gradient(120deg, transparent,rgba(248, 247, 243, 0.4),transparent);
  content: "";
  height: 100%;
  left: -100%;
  position: absolute;
  top: 0;
  transition: all 650ms;
  width: 100%;
}

#properties .zonaProps:hover:before {
  left: 100%;
}

@media (max-width: 1199px) {
  .flag-style{
    height: 15em;
    width: 19em;
  }
}

@media (max-width: 992px) {
  #properties .flags-container {
    display: flex;
    justify-content: space-around;
    padding: 5em 1em;
  }

  .flag-style{
    height: 12em;
    width: 16em;
  }

  .filter img {
    margin: 1em;
  }
}

@media (max-width: 768px) {
  #properties .flags-container {
    align-items: center;
    flex-direction: column;
    padding-top: 3em;
  }

  #properties .flags-container .flag {
    padding: 2em 0;
  }

  .flag-style{
    height: 12em;
    width: 30em;
  }

  .filter img {
    width: 35%;
  }

  #properties .zonaProps {
    margin-top: 0;
  }
}

@media (max-width: 576px) {
  .flag-style{
    width: 20em;
  }

  .filter img {
    width: 65%;
  }
}


/* CONTACTO */

#contact {
  margin: 4em 0;
}

#contact .contact-container {
  justify-content: center;
  margin: 0;
}

.flip-container {
  margin: 1em 2.5em;
  float: left;
  width: 30%;
}

.flip-container:hover .flipper {
  cursor: pointer;
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  border-radius: 20px;
  font-size: 30px;
  height: 4em;
  line-height: 4em;
  text-align: center;
  width: 8em;
}

.flipper {
  position: relative;
  transition: 0.6s;
  transform-style: preserve-3d;
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  background-color: var(--color11);
  color: white;
  z-index: 2;
}

.front i {
  font-size: 1.25em;
}

#insta {
  font-size: 1.5em;
  position: relative;
  top:7px;
}

.back {
  transform: rotateY(180deg);
}

.back p {
  font-size: .5em;
  margin-top: 0px;
  border-radius: 20px;
  background-color: var(--color22);
  color: white;
}

@media (max-width: 1199px) {
  .flip-container {
    margin: 1em 1.5em;
  }
}

@media (max-width: 992px) {
  .flip-container, .front, .back {
    width: 5.5em;
  }
}

@media (max-width: 768px) {
  .flip-container {
    margin: .75em;
  }

  .flip-container, .front, .back {
    width: 4.875em;
  }

  .front i {
  font-size: 1em;  
  }

#insta {
  font-size: 1.25em;
  top:5px;
  }
}

@media (max-width: 576px) {
  .flip-container, .front, .back {
    width: 8em;
  }

  .flip-container {
    margin: 1em;
  }
} 


/* FOOTER */

footer {
  background-color: var(--color11);
  height: 1.75em;
  position:absolute;
  width: 100%;
}