/* PALETA DE COLORES */

:root {
    --color11: #2D2D2B;
    --color22: #9F9385;
    --color33: #EAE3D9;
    --color44:#F8F7F3;
  
  }
  
  /* FUENTE */
  
  @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
  
  
  /* BASE */
  
  * {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  body {
    background-color: var(--color44);
    max-width: 100vw;
  }

  /* WHATSAPP */

  a:hover {
    text-decoration: none;
  }
  
  .whatsapp {
    background-color:#25d366;
    border-radius:50px;
    bottom:30px;
    color:#FFF;
    font-size:30px;
    height:50px;
    position:fixed;
    right:40px;
    text-align:center;
    width:50px;
    z-index:100;
  }
  
  .whatsapp:hover {
    color: white;
    transform: scale(1.1);
  }
  
  .whatsapp-icon {
    font-size: 1.115em;
    margin-top:8px;
  }
  
  @media (max-width: 576px) {
    .whatsapp {
      bottom: 20px;
      right: 20px;
    }
  }

  /* HEADER - LOGO */

  #header  {
    background: var(--color11);
    opacity: 90%;
    padding: .375em;
  }
  
  #header .logo {
    padding: 0 2em;
  }
  
  #header .logo img {
    width: 7.5em;
  }
  
  @media (max-width: 992px) {
    #header .logo img{
      width: 7em;
    }
  }
  
  @media (max-width: 768px) {
    #header .logo img{
      width: 6.75em;
    }
  }
  
  @media (max-width: 576px) {
    #header .logo img{
      width: 5.75em;
    }
  }
  
  @media (max-width: 576px) {
    #header .logo {
      padding: 0 .5em;
    }
  }
  
/*
  /* HEADER - NAV */

.navbar ul {
    margin: 0;
    width: 65%;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
  }
  
  .navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
    color: var(--color22);
    transition: 0.3s;
  }
  
  #icon-nav{
    display: none;
  }
  
  @media (max-width: 1200px) {
    .navbar {
        padding: 0.5em;
    }

    .navbar ul {
      width: 77%;
    }
  }
  
  @media (max-width: 992px) {
    .navbar ul {
        display: none;
      }

    #icon-nav {
      display: block;
      font-size: 2em;
    }
  }
  
  @media (max-width: 768px) {
    #icon-nav {
      font-size: 1.75em;
    }
  }
  
  @media (max-width: 576px) {
    #icon-nav {
      font-size: 1.5em;
    }
  }
  
  .navbar-mobile .mobile-nav-toggle {
    margin-left: 0;
    position: absolute;
    top: 30px;
  }
  
  .mobile-nav-toggle {
    color: var(--color33);
    cursor: pointer;
    font-size: 1.75em;
    line-height: 0;
    transition: 0.5s;
  }
  
  .navbar-mobile {
    background: var(--color11);
    opacity: 90%;
    bottom: 0;
    justify-content: center;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    transition: 0.3s;
    z-index: 999;
  }
  
  .navbar-mobile ul {
    background-color: var(--color44);
    border-radius: 10px;
    display: block;
    overflow-y: auto;
    padding: 10px 0;
    position: absolute;
    transition: 0.3s;
    width: 90%;
  }
  
  .navbar-mobile a {
    color: var(--color11);
    font-size: 1.25em;
    font-weight: 600;
    padding: 20px 0;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .navbar-mobile a {
      font-size: 1.125em;
      padding: 18px 0;
    }
  }
  
  @media (max-width: 576px) {
    .navbar-mobile a {
      font-size: 1em;
      padding: 14px 0;
    }
  }


  /* HEADER - BOTONES */

button:focus {
    outline: none;
  }
  
  #languages {
    padding-right: 2em;
    text-align: end;
  }
  
  .button-language {
    border: none;
    border-radius: 100%;
    margin: 0 .5em;
  }
  
  .button-language.button-active {
    cursor: default;
  }
  
  .button-language.button-active img {
    opacity: 50%;
  }
  
  .language-icon {
    width: 1.75em;
  }

  @media (max-width: 992px) {
    #languages {
      padding-right: 0;
    }
  }
  
  @media (max-width: 576px) {
    #languages {
      padding-left: 0;
    }
  } */